@font-face {
    font-family: 'BMDOHYEON';
    src: url('../fonts/BMDOHYEON.ttf') format('truetype');
}

* {
    font-family: 'BMDOHYEON';
}

.gulim {
    font-family: 굴림;
    font-size: 14px;
    font-weight: 100;
    margin-right: 10%;
}

td img{
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.padding-td {
    padding-top: 5%;
    padding-bottom: 5%;
}

b {
    font-size: 17px;
}