@font-face {
    font-family: 'BMDOHYEON';
    src: url('../fonts/BMDOHYEON.ttf') format('truetype');
}

* {
    font-family: 'BMDOHYEON';
}

.gulim {
    font-family: 굴림;
    font-size: 14px;
    font-weight: 600;
    margin: 0% 2.5%;
    background-color: white;
    padding: 1em;
    border: 2px solid white;
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
}

li {
    font-family: 굴림;
    margin-left: 5%;
}

.BM {
    font-family: 'BMDOHYEON';
}

.iconimg{
    width: 72px;
    height: 72px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius:5px;
}

.padding-td {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 70%;
}

.hide {
    display: none;
}

strong {
    /* color: #302b63; */
    font-size: 20px;
}

#image-text { 
    position: relative;
    padding:0px;
}

.text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
    font-size: 40px;
}

.image-image {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 25%;
    transform: translate( -100%, -50% );
    color: white;
    font-size: 35px;
}

.skillname {
    display: inline;
    margin-left: 5%;
}

.container .image {
    position: relative;
    padding: 0px;
    height: auto;
}

.btn {
    font-family: 'BMDOHYEON';
}

/* .btn {
    position: absolute;
    width: 25%;
    height: auto;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
} */